body {
font-family: "Madimi One", sans-serif;
font-weight: bold;
background: linear-gradient(to right,#c42323, #1595be); 
}

.wrapper {
  width: auto;
  border: 1px solid transparent;
  padding: 30px;
  margin-top: 90px;
  border-radius: 20px;
  background-color: #ddd;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.player {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.track-art {
  margin: 25px;
  height: 250px;
  width: 250px;
  border: 2px solid #FFFAFA;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.now-playing {
  font-size: 1.3rem;
}

.track-name {
  font-size: 2.5rem;
}

.track-artist {
  margin-top: 5px;
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track {
  padding: 25px;
  opacity: 0.8;
  transition: opacity .4s;
  cursor: pointer;
}

.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1.0;
}

.slider_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: #000;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 15px;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 100%;
  cursor: grab;
}

.seek_slider:hover,
.volume_slider:hover {
  opacity: 1.0;
}

.seek_slider {
  width: 60%;
}

.volume_slider {
  width: 30%;
}

.current-time,
.total-duration {
  padding: 10px;
}

i.fa-volume-off,
i.fa-volume-high {
  padding: 8px;
} 

i {
  font-size: 23px;
}

#heart {
  color: #969393;  
  font-size: 35px;
}

#heart.red {
  color: #e22020;
}